numpy
pandas
tqdm
natsort
matplotlib
Pillow
scikit-build
scikit-learn
seaborn
Shapely
tabulate
imagesize
requests
xmltodict
angles
transformations
plotly
utm
filterpy
ffmpeg-python
rectpack
tensorboard
cmake
termcolor
debugpy
ouster-sdk
psutil
opencv-python==4.5.5.64
